{% assign main_menu_linklist = linklists[section.settings.menu].links %}

<div class="relative bg-black" x-data="{ mobileMenuOpen: false}">
  <div class="px-8 mx-auto max-w-[1450px] md:px-3 xs:px-0">
    <div class="flex items-center justify-between py-4 ">
      <!-- Mobile menu button -->
      <div class="flex items-center justify-between my-2 ml-3 mr-2 lg:hidden">
        <button
          x-on:click="mobileMenuOpen = true"
          type="button"
          class="inline-flex items-center justify-center focus:outline-none">
          {% render 'icon-menu' %}
        </button>
      </div>
      <!-- Store Name / Store Logo -->
      <div class="flex truncate lg:flex-1 xs:justify-between">
        {% if section.settings.logo != blank %}
          <a href="{{ routes.root_url }}" class="site-logo">
            <img
              src="{{ section.settings.logo | asset_url }}"
              alt="{{ shop.name }}"
              width="200"
              height="30"
              loading="eager">
          </a>
        {% else %}
          <a href="{{ routes.root_url }}" class="text-white text-xl font-bold">{{ shop.name }}</a>
        {% endif %}
      </div>

      <!-- Navigation Menu -->
      <nav class="flex items-center justify-end md:bg-none lg:bg-[#191919] rounded-full xl:p-8 xs:p-2 lg:p-4">
        <div class="hidden xl:space-x-14 lg:space-x-6 md:space-x-4 sm:space-x-2 lg:flex">
          {% for link in main_menu_linklist %}
            {% if link.links != blank %}
              <div class="relative">
                <button type="button" class="inline-flex items-center text-base text-white">
                  {{ link.title }}
                  {% render 'icon-dropdown' %}
                </button>
              </div>
            {% else %}
              <div class="relative">
                <a href="{{ link.url }}" class="text-[20px] lg:text-2xl font-medium text-white">{{ link.title }}</a>
              </div>
            {% endif %}
          {% endfor %}
        </div>

        <!-- Cart Button / Account Link -->
        <div class="flex ml-8 xl:space-x-10 lg:space-x-6 md:space-x-4 xs:space-x-3">
          <button class="text-base text-gray-500 whitespace-nowrap cursor-pointer hover:text-white transition-colors">
            {% render 'icon-search' %}
          </button>

          <a href="{{ routes.account_login_url }}" class="text-base text-gray-500 hover:text-white transition-colors">
            {% render 'icon-login' %}
          </a>

          <a href="{{ routes.cart_url }}" class="text-base text-gray-500 whitespace-nowrap hover:text-white transition-colors">
            {% render 'icon-shopping-bag' %}
          </a>
        </div>
      </nav>
    </div>
  </div>

  <div x-show="mobileMenuOpen" class="absolute z-10 top-0 inset-x-0 transform origin-top-left md:hidden">
    <div class="shadow-lg rounded-lg ring-1 ring-black ring-opacity-5 bg-black w-full">
      <div class="p-5 divide-y-2">

        <!-- MOBILE MENU HEADER TITLE PLUS CLOSE BUTTON -->
        <div class="flex items-center justify-between pb-3">
          <div class="mr-2">
            <button x-on:click="mobileMenuOpen = false" type="button">
              {% render 'icon-close' %}
            </button>
          </div>
          <div>
            {% if section.settings.logo != blank %}
              <a href="{{ routes.root_url }}" class="site-logo">
                <img
                  src="{{ section.settings.logo | asset_url }}"
                  alt="{{ shop.name }}"
                  width="180"
                  height="30"
                  loading="eager">
              </a>
            {% else %}
              <a href="{{ routes.root_url }}" class="text-white text-xl font-bold">{{ shop.name }}</a>
            {% endif %}
          </div>
        </div>

        <!-- NAVIGATION LINKS FOR MOBILE MENU -->
        <div class="pt-3">
          <nav class="grid gap-y-7">
            {% for link in linklists.main-menu.links %}
              {% if link.links != blank %}
                <div class="relative">
                  <button type="button" class="text-base text-white flex items-center justify-between w-full">
                    <div>{{ link.title }}</div>
                    {% render 'icon-dropdown' %}
                  </button>

                  {% for childlink in link.lists %}
                    <div class="grid gap-y-7 py-3">
                      <a href="{{ link.url }}" class="-m-3 p-3 mt-2 flex items-center rounded-md text-white">
                        <span class="ml-3 text-base font-medium text-gray-500">{{ childlink.title }}</span>
                      </a>
                    </div>
                  {% endfor %}
                </div>
              {% else %}
                <a href="{{ link.url }}" class="-m-3 p-3 flex items-center rounded-md text-white">
                  {{ link.title }}
                </a>
              {% endif %}
            {% endfor %}
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo Image"
      }, {
        "type": "link_list",
        "id": "menu",
        "label": "Header Menu",
        "default": "main-menu"
      }
    ],
    "presets": [
      {
        "name": "Header",
        "category": "Navigation"
      }
    ]
  }
{% endschema %}